
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* USO DIRETO */
body {
  font-size: clamp(1rem, calc(0.5rem + 1.5vw), 3rem);
  font-family: "Montserrat", sans-serif;
  background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Roboto", sans-serif;
}

/* HEADER */

header nav ul{
  display: flex;
  align-items: center;
  gap: 20px; /* espaçamento dos itens */
  width: fit-content; /* para ocupar apenas o tamanho do seu conteúdo, não a linha inteira*/
  margin: 3vw auto 3vw auto;
  border: 2px solid rgb(201, 199, 199);
  border-radius: 50px;
  background-color: #f7f7f7;
}
header nav ul li a{
  padding: 10px 15px;
  display: block;
  border-radius: 50px;
}
header nav ul li a.home{
  background-color: black;
  color: white;
}

/* BANNER */

.banner{
  margin: 5vw 5vw 5vw 5vw;
}
.banner h1{
  margin: 0 0 20px 0;
  font-size: 2rem;
}
.banner h1 span{
  font-weight: bold;
  color: #1E1E1E;
}

.banner p{
  color: #757575;
  font-size: 1rem;
}

/* ==== posts ==== */

.posts > ul{
  padding: 0 5vw 0 5vw;
}

.posts > ul > li{
  padding: 30px 30px 30px 30px;
  border: 2px solid #e5e5e5;
  border-radius: 20px;
  background-color: white;
  margin: 20px 0 20px 0;
}

.posts > ul > li h2{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.posts > ul > li p{
  color: #757575;
  padding: 0 0 0 1vw;
}

.posts > ul > li ul {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.posts > ul > li ul li{
  background-color: #F5F5F5;
  padding: 0 8px 0 8px;
  border-radius: 20px;
}
.posts > ul > li ul li a{
  font-size: 14px;
  font-weight: bold;
}

/* === Footer === */

footer{
  margin: 0 5vw 5vw 5vw;
}
footer p{
  background-color: white;
  border: 2px solid #e5e5e5;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: #757575;
  width: 90vw;
  margin: 5vw auto;
}

@media only screen and (min-width: 992px) {
  section.banner, section.posts > ul{
    display: grid; /* controla quantos intens vao ficar um ao lado do outro*/
    grid-template-columns: 1fr 1fr ;
    max-width: 1400px;
    margin: 0 auto;
    gap: 30px;
  }

  section.banner h1{
    font-size: 4rem;
  }

  section.banner p{
    font-size: 2rem;
    margin-bottom: 3vw;
  }

  section.posts p{
    font-size: 1rem;
  }

  section.posts > ul > li{
    margin: 0;
  }

  footer p{
    max-width: 1400px;
    margin: 3vw auto;
    font-size: 1.5rem;
  }
} 